<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>

<form action="https://formsubmit.co/waseemabohelal.1999@gmail.com" method="POST">
    <input type="hidden" name="_subject" value="New email!">
    <input type="email" name="email" placeholder="Email Address" required>
    <input type="hidden" name="_next" value="https://yourdomain.co/thanks.html">
     <input type="text" name="message" placeholder="write your message here " required>
    <button type="submit">Send</button>

</form>


</body>
</html>