<!DOCTYPE HTML>
{% extends 'base.html' %}

{% block style %}
{% endblock %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title> Welcome to the memory game </title>
    <body>
<h1 class="page-title">Hello Manager</h1>
{% endblock %}