<!DOCTYPE html>
<html lang="en">
<i class="fas fa-star"></i>
<head>
    <meta charset="UTF-8">
    <title> star Rating for the game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
h1 {
  color:Tomato;
  text-align:center;
}
</style>
</head>
<body>
<h1 > Please rate the game </h1>
    <div class="rating">
        <input type="radio" name="star" id="star1"><label for="star1">
    </label>
        <input type="radio" name="star" id="star2"><label for="star2">
    </label>
        <input type="radio" name="star" id="star3"><label for="star3">
    </label>
        <input type="radio" name="star" id="star4"><label for="star4">
    </label>
        <input type="radio" name="star" id="star5"><label for="star5">
    </label>
    </div>

</body>
</html>